In [27]:
import pandas as pd
import numpy as np
df = pd.read_parquet('enriched_texts.parquet')

test = df.groupby(['text_set']).agg({'text_id':'count','word_count':['mean','std'],'unique_word_count':'mean','sentence_count':'mean'}).reset_index()
test.columns = ['conjunto','quantidade_textos','média de palavras','desvio padrão palavras','média palavras unicas','média sentencas']
test

,conjunto,quantidade_textos,média de palavras,desvio padrão palavras,média palavras unicas,média sentencas
0,1,1783,413.949523,139.115426,181.564778,22.788559
1,2,3600,424.047778,175.142195,174.016111,20.952778
2,3,1726,120.710892,60.175178,75.802433,6.395133
3,4,1771,103.220215,57.810240,62.734613,4.731225
4,5,1805,139.519114,67.438395,78.824377,6.382271
5,6,1800,170.863889,63.508621,99.078333,7.610000
6,7,1569,195.386871,103.561706,99.956660,12.197578
7,8,723,694.370678,239.262882,265.215768,35.116183

In [28]:
df2 = df[df['text_set'].isin([2,3,4,5,6])]
df2.pivot_table(index = 'text_set',values= 'text_id', columns = 'score',aggfunc = 'count').replace(np.NaN,0).reset_index()

score  text_set    0.0    1.0    2.0     3.0     4.0   5.0  6.0
0             2    0.0   53.0  344.0  1493.0  1628.0  75.0  7.0
1             3   39.0  607.0  657.0   423.0     0.0   0.0  0.0
2             4  312.0  636.0  570.0   253.0     0.0   0.0  0.0
3             5   24.0  302.0  649.0   572.0   258.0   0.0  0.0
4             6   44.0  167.0  405.0   817.0   367.0   0.0  0.0

In [42]:
df[df['text_set'] = 1]

SyntaxError: invalid syntax (2045549601.py, line 1)

In [29]:
df3 = df[df['text_set'].isin([1])]
df3['score'] = np.where(df3['score'] <= 5,5,df3['score'])
 
test = df3.pivot_table(index = 'text_set',values= 'text_id', columns = 'score',aggfunc = 'count').replace(np.NaN,0).reset_index()

C:\Users\ramon.boucas\AppData\Local\Temp\ipykernel_2504\241262631.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['score'] = np.where(df3['score'] <= 5,5,df3['score'])

In [41]:
df4 = df[df['text_set'].isin([7])]
df4['score'] = pd.cut(df4['score'],[0,5,8,10,12,15,17,20,25,30])
df4.pivot_table(index = 'text_set',values= 'text_id', columns = 'score',aggfunc = 'count').replace(np.NaN,0).reset_index()

C:\Users\ramon.boucas\AppData\Local\Temp\ipykernel_2504\588324681.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['score'] = pd.cut(df4['score'],[0,5,8,10,12,15,17,20,25,30])

score,text_set,"(0, 5]","(5, 8]","(8, 10]","(10, 12]","(12, 15]","(15, 17]","(17, 20]","(20, 25]","(25, 30]"
0,7,10,98,104,142,272,359,305,279,0

In [ ]:
df5 = df[df['text_set'].isin([7])]
df4['score'] = pd.cut(df4['score'],[0,5,8,10,12,15,17,20,25,30])
df4.pivot_table(index = 'text_set',values= 'text_id', columns = 'score',aggfunc = 'count').replace(np.NaN,0).reset_index()

In [ ]:
df1 = df3[df3['text_set'] == 1] 

df1.groupby

In [ ]:
df3[df3['text_set'] == 7]['score'].hist()

In [ ]:
df3[df3['text_set'] == 8]['score'].hist()

In [ ]:
df3['faixa'] = np.where((df3['text_set'] == 2) & (df['score'] <= 6), '<= 6' , df['score']) 
df3